.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.comicDetails {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    width: 600px;
    background: radial-gradient(circle, rgba(96, 79, 74, 1) 0%, rgba(219, 197, 197, 1) 100%);
    text-align: left;
}

.titulo {
    text-align: center;
}

.comicCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.comicImage {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

.charactersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.characterCard {
    margin: 10px;
    text-align: center;
}

.characterImage {
    border-radius: 50%;
    width: 80px;
    height: auto;
}

.botones {
    text-align: center;
}

.closeButton {
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.closeButton:hover {
    background-color: darkred;
}

.favoriteButton {
    height: 50px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.favoriteButton.favorite {
    background-color: red;
}

.favoriteButton.notFavorite:hover {
    background-color: darkgrey;
}

.favoriteButton.favorite:hover {
    background-color: darkred;
}