.gridStyle {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 16px; 
  padding: 20px; 
}

.comicCardStyle {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  flex: 0 1 150px; 
  max-width: 250px; 
  transition: background-color 0.3s;
  background: radial-gradient(circle, rgba(96,79,74,1) 0%, rgba(219,197,197,1) 100%);
}

.comicCardStyle:hover {
  background: radial-gradient(circle, rgba(233,213,213,1) 100%, rgba(209,15,15,1) 100%);
  cursor: pointer;
}

.whiteTitle {
  color: white;
}

.comicCardStyle img {
  width: 100%; 
  height: auto; 
}

.comicCardStyle.favoriteCard {
  background: radial-gradient(circle, rgba(233,213,213,1) 100%, rgba(209,15,15,1) 100%);
}

.favoriteButton {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
}

.favoriteButton.favorite {
  color: red; 
}

.favoriteButton.notFavorite {
  color: gray; 
}

.comicTitle{
  height: 100px;
}